@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("../css/animate.css");
body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*   normalize  */
/* font family added */
@media (max-width: 1140px) {
  .container {
    max-width: 100%;
  }
}

/* Use the variables */
/* end the variables */
/*###########################################################################
############################## header section ###############################*/
.fixed-top {
  background-color: #000000 !important;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
  height: 100px;
  position: relative;
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  background-color: #000000;
  /* box-shadow: 0 7px 12px rgba(0,0,0,.02); */
  z-index: 999;
  /* border-bottom: 1px solid rgba(236, 236, 236, 0.6); */
}

.header .navbar .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .navbar .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.header .navbar .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.header .navbar .navbar-brand {
  width: 160px;
  height: auto;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .navbar-toggler {
  color: #ffffff;
  padding: 0;
  outline: 0;
  border: 0;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  background-color: transparent;
  background-image: url("../../assets/images/menubar.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
  border: 0;
}

.header .navbar .navbar-toggler {
  position: absolute;
  right: 15px;
  top: -17px;
  border: 0;
}

.header .navbar .collapse1 {
  height: 100%;
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 18px;
  font-weight: 500;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: rgba(255, 255, 255, 0.7);
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #ffffff;
}

.header .navbar .collapse1 .navbar-nav .nav-btn .nav-link {
  font-size: 16px;
  min-height: 30px;
  line-height: 22px;
  border-radius: 4px;
  padding: 8px 20px;
  color: #ffffff;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/*############################## Home section ###############################*/
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-group .form-control {
  border: 1px solid #c7c7c7;
  height: 50px;
  background-color: #ffffff;
  border-radius: 0;
  font-size: 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.form-group .form-control:focus {
  border-color: #1d61f6 !important;
  color: #000000;
}

.input-group .input-group-addon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 20px;
}

.input-group .form-control {
  padding-right: 40px;
}

/*  middle section start here */
.middle-section {
  height: auto;
}

.footer-section {
  padding: 80px 0 0px 0;
  background-color: #000000;
  color: #ffffff;
}

.footer-section hr {
  margin: 30px 0 0 0;
  border-color: rgba(255, 255, 255, 0.5);
}

.footer-section .footer-line-one {
  border-color: rgba(226, 226, 226, 0.21);
  margin: 0 0 40px 0;
}

.footer-section .footer-content-logo .logo-footer {
  margin-bottom: 40px;
}

.footer-section .footer-content-logo .logo-footer img {
  width: 120px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-section .footer-content-logo p {
  width: 170px;
}

.footer-section .footer-content-link {
  padding: 70px 0 0 0;
}

.footer-section .footer-content {
  margin-bottom: 20px;
}

.footer-section .footer-content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.footer-section .footer-content p {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
}

.footer-section .footer-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-content ul li {
  font-size: 16px;
  line-height: 28px;
}

.footer-section .footer-content ul li a {
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer-section .footer-content ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: rgba(255, 255, 255, 0.5);
}

.footer-section .stay-in-touch {
  padding: 0 0 0 50px;
}

.footer-section .stay-in-touch h3 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-bottom: 40px;
}

.footer-section .stay-in-touch .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer-section .stay-in-touch .subscribe .form-group {
  margin-bottom: 0;
  margin-right: 10px;
  width: 100%;
}

.footer-section .stay-in-touch .subscribe .form-group .form-control {
  background-color: transparent;
  color: #ffffff;
  height: 46px;
  font-size: 16px;
  border-radius: 4px;
}

.footer-section .stay-in-touch .subscribe .form-group .form-control:focus {
  border-color: #ffffff !important;
}

.footer-section .stay-in-touch .subscribe .btn-subscribe {
  background-color: #ffffff;
  color: #000000;
  height: 46px;
  border-radius: 0;
  max-width: 170px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.footer-section .stay-in-touch .subscribe .btn-subscribe:hover {
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.footer-section .stay-in-touch .subscribe .btn-subscribe:focus {
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.footer-section .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 60px;
}

.footer-section .social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section .social-media ul li {
  display: inline-block;
  margin-right: 15px;
}

.footer-section .social-media ul li:last-child {
  margin-right: 0;
}

.footer-section .social-media ul li a {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(180, 180, 180, 0.26);
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
}

.footer-section .social-media ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #000000;
  background-color: #ffffff;
}

.footer-section .copy-right-text {
  padding: 20px 0;
}

.footer-section .copy-right-text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 0;
}

.closebtn img {
  width: 20px;
  height: 20px;
}

/*###########################################################################
############################## media query started ###############################
######################################################################################*/
@media (max-width: 767px) {
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
    height: 70px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .header .navbar .row-100 {
    width: 100%;
    margin: 0;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .row-100 .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .row-100 .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .row-100 .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .row-100 .navbar-brand {
    width: 140px;
    height: auto;
  }
  .header .navbar .row-100 .navbar-brand img {
    width: 100%;
  }
  .header .navbar .collapse1 {
    padding: 10px 0;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    white-space: nowrap;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
  }
  .header .navbar .collapse1 .navbar-nav .nav-btn .nav-link {
    background-color: #ed5c37;
    color: #ffffff;
    border-radius: 4px;
    -webkit-transition: none;
    transition: none;
  }
  .header .navbar .collapse1 .navbar-nav .nav-btn .nav-link:hover {
    background-color: #ffffff;
    color: #ed5c37;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #000000;
    padding: 40px 0px 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 70%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #ffffff;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
  /* middle section start here */
  .footer-section {
    padding-top: 40px;
  }
  .footer-section .footer-content-logo p {
    width: 100%;
  }
  .footer-section .footer-content-link {
    padding: 20px 0 0 0;
  }
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-expand-md .navbar-toggler {
    display: block;
  }
  .header .navbar {
    z-index: 999;
  }
  .header .navbar .collapse1 {
    display: block;
  }
  .header .navbar .collapse1 .navbar-nav {
    display: inline-block;
    margin-left: 0 !important;
    padding-bottom: 30px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #000000;
    padding: 40px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 35%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #ffffff;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    display: block;
  }
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    line-height: 22x;
    padding: 8px 10px;
    font-weight: 500;
  }
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #000000;
    padding: 40px 0px 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 30%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #ffffff;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    display: block;
  }
}
/*# sourceMappingURL=custom.css.map */