@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("../css/animate.css");
@import url("../css/header.css");

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// input[type="number"] {
//   -moz-appearance: textfield;
// }

/*   normalize  */

@media (max-width: 1140px) {
  .container {
    max-width: 100%;
  }
}

.btn-primary {
  background-color: #ff0000;
  color: #fff;

  &:hover {
    background-color: #ff0000;
    box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
    transform: translateY(-3px);
    transition: all 0.8s;
  }

  &:focus {
    background-color: #ff0000;
    box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
    transform: translateY(-3px);
  }
}



/*############################ header section ###############################*/







/* ############################## Home section ############################### */

.form-group {
  margin-bottom: 20px;

  label {
    font-size: 18px;
    color: #181818;
    letter-spacing: 0;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .form-control {
    border: 1px solid #c7c7c7;
    height: 50px;
    background-color: #fff;
    border-radius: 0;
    font-size: 18px;
    box-shadow: none;
    outline: 0;

    &:focus {
      border-color: #1d61f6 !important;
      color: #000;
    }
  }
}

.input-group {
  .input-group-addon {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;

    a {
      text-decoration: none;
      color: #727272;
    }

    i {
      font-size: 20px;
    }
  }

  .form-control {
    padding-right: 40px;
  }
}

/*  middle section start here */

.middle-section {
  min-height: 1500px;
  padding-top: 100px;
}

.footer-section {
  padding: 80px 0 0 0;
  background-color: #000;
  color: #fff;

  hr {
    margin: 30px 0 0 0;
    border-color: rgba(255, 255, 255, 0.5);
  }

  .footer-line-one {
    border-color: rgba(226, 226, 226, 0.21);
    margin: 0 0 40px 0;
  }

  .footer-content-logo {
    .logo-footer {
      margin-bottom: 40px;

      img {
        width: 120px;
        height: auto;
        object-fit: cover;
      }
    }

    p {
      width: 170px;
    }
  }

  .footer-content-link {
    padding: 70px 0 0 0;
  }

  .footer-content {
    margin-bottom: 20px;

    h3 {
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
    }

    p {
      font-size: 12px;
      line-height: 21px;
      font-weight: 400;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: 16px;
        line-height: 28px;

        a {
          display: block;
          color: #fff;
          font-size: 14px;
          line-height: 30px;
          text-decoration: none;
          transition: all 0.5s ease-in-out;

          &:hover {
            transition: all 0.5s ease-in-out;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }

  .stay-in-touch {
    padding: 0 0 0 50px;

    h3 {
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      margin-bottom: 40px;
    }

    .subscribe {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .form-group {
        margin-bottom: 0;
        margin-right: 10px;
        width: 100%;

        .form-control {
          background-color: transparent;
          color: #fff;
          height: 46px;
          font-size: 16px;
          border-radius: 4px;

          &:focus {
            border-color: #fff !important;
          }
        }
      }

      .btn-subscribe {
        background-color: #fff;
        color: #000;
        height: 46px;
        border-radius: 0;
        max-width: 170px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
      }
    }
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }

        a {
          width: 40px;
          height: 40px;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          background-color: transparent;
          border: 1px solid rgba(180, 180, 180, 0.26);
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          font-size: 18px;

          &:hover {
            transition: all 0.5s ease-in-out;
            color: #000;
            background-color: #fff;
          }
        }
      }
    }
  }

  .copy-right-text {
    padding: 20px 0;

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      margin-bottom: 0;
    }
  }
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */

@media (max-width: 767px) {
  .header {
    .navbar {
      padding: 8px 0;
      z-index: 999;
      height: 70px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 40px;
        height: auto;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          .nav-item {
            padding: 0 20px;

            a {
              color: #fff;
              font-size: 16px;
              line-height: 26px;
              padding: 8px 12px;
              font-weight: 500;
              white-space: nowrap;

              &:hover {
                color: #fff;
              }
            }
          }

          .nav-btn {
            a {
              background-color: #ed5c37;
              color: #fff;
              border-radius: 4px;
              transition: none;

              &:hover {
                background-color: #fff;
                color: #ed5c37;
              }
            }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        border: 0;
        position: absolute;
        right: 15px;
        top: -17px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 35px;
          width: 35px;
          border: 0;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #000;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .width-menu {
    width: 70%;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  /* middle section start here */

  .footer-section {
    padding-top: 40px;

    .footer-content-logo {
      p {
        width: 100%;
      }
    }

    .footer-content-link {
      padding: 20px 0 0 0;
    }

    .stay-in-touch {
      padding-left: 0;

      .subscribe {
        .btn-subscribe {
          max-width: 130px;
        }
      }
    }

    .social-media {
      margin-top: 30px;
    }
  }
}

@media (min-width: 768px) and (max-width: 996px) {
  // no css
}

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    .navbar {
      padding: 8px 0;
      z-index: 999;
      height: 70px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 50px;
        height: auto;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          flex-direction: column !important;
          margin-left: 0 !important;

          .nav-item {
            padding: 0 20px;

            a {
              color: #fff;
              font-size: 16px;
              line-height: 26px;
              padding: 8px 12px;
              font-weight: 500;
              white-space: nowrap;

              &:hover {
                color: #fff;
              }
            }
          }

          .nav-btn {
            a {
              background-color: #ed5c37;
              color: #fff;
              border-radius: 4px;
              transition: none;

              &:hover {
                background-color: #fff;
                color: #ed5c37;
              }
            }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        border: 0;
        position: absolute;
        right: 15px;
        top: -17px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 35px;
          width: 35px;
          border: 0;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #000;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .width-menu {
    width: 35%;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  .footer-section {
    .stay-in-touch {
      padding-left: 0;

      .subscribe {
        .btn-subscribe {
          max-width: 130px;
        }
      }
    }

    .social-media {
      margin-top: 30px;
    }
  }
}

/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    .navbar {
      .collapse1 {
        .navbar-nav {
          .nav-item {
            a {
              font-size: 12px;
              font-weight: 500;
              line-height: 22px;
              padding: 8px 10px;
            }
          }
        }
      }
    }
  }

  .footer-section {
    .stay-in-touch {
      padding-left: 0;

      .subscribe {
        .btn-subscribe {
          max-width: 130px;
        }
      }
    }

    .social-media {
      margin-top: 30px;
    }
  }
}

/* ----------- iPad Pro ----------- */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}


// top to scroll


.scrollTop {
  position: fixed;
  right: 10%;
  bottom: 10px;
  z-index: 999;
  background-color: #BE3F48;
  padding: 20px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
}


// header


