@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("../css/animate.css");
@import url("../css/header.css");
body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 700;
}

h4 {
  font-size: 27px;
  line-height: 29px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

/*   normalize  */
@media (max-width: 1140px) {
  .container {
    max-width: 100%;
  }
}

.btn-primary {
  background-color: #ff0000;
  color: #fff;
}

.btn-primary:hover {
  background-color: #ff0000;
  -webkit-box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
          box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-primary:focus {
  background-color: #ff0000;
  -webkit-box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
          box-shadow: 0 3px 15px 0 rgba(255, 0, 0, 0.4);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

/*############################ header section ###############################*/
/* ############################## Home section ############################### */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-group .form-control {
  border: 1px solid #c7c7c7;
  height: 50px;
  background-color: #fff;
  border-radius: 0;
  font-size: 18px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.form-group .form-control:focus {
  border-color: #1d61f6 !important;
  color: #000;
}

.input-group .input-group-addon {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
}

.input-group .input-group-addon a {
  text-decoration: none;
  color: #727272;
}

.input-group .input-group-addon i {
  font-size: 20px;
}

.input-group .form-control {
  padding-right: 40px;
}

/*  middle section start here */
.middle-section {
  min-height: 1500px;
  padding-top: 100px;
}

.footer-section {
  padding: 80px 0 0 0;
  background-color: #000;
  color: #fff;
}

.footer-section hr {
  margin: 30px 0 0 0;
  border-color: rgba(255, 255, 255, 0.5);
}

.footer-section .footer-line-one {
  border-color: rgba(226, 226, 226, 0.21);
  margin: 0 0 40px 0;
}

.footer-section .footer-content-logo .logo-footer {
  margin-bottom: 40px;
}

.footer-section .footer-content-logo .logo-footer img {
  width: 120px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-section .footer-content-logo p {
  width: 170px;
}

.footer-section .footer-content-link {
  padding: 70px 0 0 0;
}

.footer-section .footer-content {
  margin-bottom: 20px;
}

.footer-section .footer-content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.footer-section .footer-content p {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
}

.footer-section .footer-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-content ul li {
  font-size: 16px;
  line-height: 28px;
}

.footer-section .footer-content ul li a {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer-section .footer-content ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: rgba(255, 255, 255, 0.5);
}

.footer-section .stay-in-touch {
  padding: 0 0 0 50px;
}

.footer-section .stay-in-touch h3 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-bottom: 40px;
}

.footer-section .stay-in-touch .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer-section .stay-in-touch .subscribe .form-group {
  margin-bottom: 0;
  margin-right: 10px;
  width: 100%;
}

.footer-section .stay-in-touch .subscribe .form-group .form-control {
  background-color: transparent;
  color: #fff;
  height: 46px;
  font-size: 16px;
  border-radius: 4px;
}

.footer-section .stay-in-touch .subscribe .form-group .form-control:focus {
  border-color: #fff !important;
}

.footer-section .stay-in-touch .subscribe .btn-subscribe {
  background-color: #fff;
  color: #000;
  height: 46px;
  border-radius: 0;
  max-width: 170px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.footer-section .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 60px;
}

.footer-section .social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section .social-media ul li {
  display: inline-block;
  margin-right: 15px;
}

.footer-section .social-media ul li:last-child {
  margin-right: 0;
}

.footer-section .social-media ul li a {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(180, 180, 180, 0.26);
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
}

.footer-section .social-media ul li a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #000;
  background-color: #fff;
}

.footer-section .copy-right-text {
  padding: 20px 0;
}

.footer-section .copy-right-text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 0;
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */
@media (max-width: 767px) {
  .footer-section {
    padding-top: 40px;
  }
  .footer-section .footer-content-logo p {
    width: 100%;
  }
  .footer-section .footer-content-link {
    padding: 20px 0 0 0;
  }
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .footer-section .stay-in-touch {
    padding-left: 0;
  }
  .footer-section .stay-in-touch .subscribe .btn-subscribe {
    max-width: 130px;
  }
  .footer-section .social-media {
    margin-top: 30px;
  }
}

/* ----------- iPad Pro ----------- */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

.scrollTop {
  position: fixed;
  right: 10%;
  bottom: 10px;
  z-index: 999;
  background-color: #BE3F48;
  padding: 20px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
}
/*# sourceMappingURL=custom.css.map */