.fixed-top {
    background-color: #000 !important;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
    height: 100px;
    position: relative;

    .navbar {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        padding: 0;
        display: flex;
        height: 100px;
        background-color: #000;
        box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
        z-index: 999;
        border-bottom: 1px solid rgba(236, 236, 236, 0.6);

        .container {
            padding-left: 15px;
            padding-right: 15px;
        }

        .navbar-brand {
            width: 70px;
            height: auto;
            padding: 0;

            img {
                width: 100%;
            }
        }

        .collapse1 {
            height: 100%;

            .navbar-nav {
                .nav-item {
                    a {
                        color: #fff;
                        font-size: 14px;
                        line-height: 24px;
                        padding: 8px 18px;
                        font-weight: 500;
                        transition: all 0.4s ease-in-out;

                        &:hover {
                            transition: all 0.4s ease-in-out;
                            color: rgba(255, 255, 255, 0.7);
                        }
                    }

                    a.active {
                        transition: all 0.4s ease-in-out;
                        color: #fff;
                    }
                }

                .nav-btn {
                    a {
                        font-size: 16px;
                        min-height: 30px;
                        line-height: 22px;
                        border-radius: 4px;
                        padding: 8px 20px;
                        color: #fff;
                    }
                }
            }
        }
    }
}

/* menu responsive */

.navbar-expand-md .navbar-toggler {
    display: none;
}

.sidenav-new-menu .closebtn {
    display: none;
}

@media (max-width: 767px) {
    .header {
        .navbar {
            padding: 8px 0;
            z-index: 999;
            height: 70px;

            .navbar-brand {
                width: 40px;
                height: auto;

                img {
                    width: 100%;
                }
            }

            .navbar-collapse {
                padding: 10px 0;

                .navbar-nav {
                    .nav-item {
                        padding: 0 20px;
                        a {
                            color: #fff;
                            font-size: 16px;
                            line-height: 26px;
                            padding: 8px 12px;
                            font-weight: 500;
                            white-space: nowrap;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .navbar-toggler {
                color: #fff;
                padding: 0;
                outline: 0;
                border: 0;
                position: absolute;
                right: 0px;
                top: 0px;
                border: 0;
                display: block;

                .navbar-toggler-icon {
                    background-color: transparent;
                    background-image: url("../../assets/images/menubar.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 35px;
                    width: 35px;
                    border: 0;
                }
            }
        }
    }

    #cd-shadow-layer {
        position: fixed;
        min-height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        display: none;
        z-index: 99999;
    }

    .sidenav-new-menu {
        height: 100%;
        min-height: 100vh;
        width: 300px;
        position: fixed;
        right: -300px;
        top: 0;
        overflow-y: auto;
        overflow-x: hidden;
        transition: all 0.5s;
        z-index: 999999;
        background-color: #000;
        padding: 40px 0 20px 0;
        flex-basis: auto;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .width-menu {
        width: 300px;
        right: 0;
        display: block !important;
        transition: all 0.5s;
    }

    .closebtn {
        display: block !important;
        color: #fff;
        text-decoration: none;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;

        img {
            width: 20px;
            height: 20px;
        }

        &:hover {
            display: block;
            color: #fff;
            text-decoration: none;
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .header {
        .navbar {
            padding: 8px 0;
            z-index: 999;
            height: 70px;

            .navbar-brand {
                width: 50px;
                height: auto;

                img {
                    width: 100%;
                }
            }

            .navbar-collapse {
                padding: 10px 0;

                .navbar-nav {
                    flex-direction: column !important;
                    margin-left: 0 !important;

                    .nav-item {
                        padding: 0 20px;

                        a {
                            color: #fff;
                            font-size: 16px;
                            line-height: 26px;
                            padding: 8px 12px;
                            font-weight: 500;
                            white-space: nowrap;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .navbar-toggler {
                color: #fff;
                padding: 0;
                outline: 0;
                border: 0;
                position: absolute;
                right: 15px;
                top: 0px;
                border: 0;
                display: block;

                .navbar-toggler-icon {
                    background-color: transparent;
                    background-image: url("../../assets/images/menubar.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 35px;
                    width: 35px;
                    border: 0;
                }
            }
        }
    }

    #cd-shadow-layer {
        position: fixed;
        min-height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        display: none;
        z-index: 99999;
    }

    .sidenav-new-menu {
        height: 100%;
        min-height: 100vh;
        width: 300px;
        position: fixed;
        right: -300px;
        top: 0;
        overflow-y: auto;
        overflow-x: hidden;
        transition: 0.5s;
        z-index: 999999;
        background-color: #000;
        padding: 40px 0 20px 0 !important;
        flex-basis: auto;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .width-menu {
        width: 300px;
        display: block !important;
        right: 0;
    }

    .closebtn {
        display: block !important;
        color: #fff;
        text-decoration: none;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;

        img {
            width: 20px;
            height: 20px;
        }

        &:hover {
            display: block;
            color: #fff;
            text-decoration: none;
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}
